# Python dependencies for Spideryarn Reading project
# Currently no Python dependencies required

# Note: code2prompt has been removed in favor of the Rust version
# To install the Rust version, see: https://github.com/mufeedvh/code2prompt